.question {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.question > .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
}

.question > .header > button {
    margin-left: 10px;
    width: 7vw;
    background: transparent;
    color: gray;
    border: none;
}

.question > .header > button > i {
    font-size: 25px;
}

.question > .header > .progress {
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.question > .header > .progress > .element {
    display: flex;
    width: 80vw;
    /*background: rgba(59,130,246,0.5);*/
    background: #0C101E;
    height: 16px;
    border-radius: 10px;
}

.question > .header > .progress > .element > .bar {
    height: 16px;
    /*background-image: linear-gradient(to right, rgb(81, 202, 255), rgb(55, 136, 242));*/
    background-image: linear-gradient(to right, #00B2FF, #0057FF);
    box-shadow: 0 2px 4px 0 rgba(83,165,240,.32);
    border-radius: 10px;
    transition: width 0.4s;
}

.question > .header > .progress > .element > .bar-icon {
    width: 22px;
    height: 22px;
    position: relative;
    top: -5px;
    left: -20px;
    background-color: #fff;
    border-radius: 13px;
    border: 3px solid #3687f2;
    box-shadow: 0 2px 4px 0 rgba(83,165,240,.32);
    display: flex;
    justify-content: center;
    align-items: center;
}

.question > .header > .progress > .element > .bar-icon > i {
    z-index: 10;
    color: #3687f2;
}

.question > .header > .counter {
    width: 9vw;
    height: 5vw;
    font-size: 18px;
    background: rgba(43, 43, 70, 0.55);
    padding: 5px 0;
    border-radius: 5px;
    font-weight: normal;
    text-align: center;
    border: 2px solid rgb(49, 49, 119);
}