.questions-list {
    padding-bottom: 5px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.questions-list > .title {
    font-size: 20px;
    text-align: center;
}

.questions-list > .list {
    max-height: 300px;
    overflow: auto;
    padding-right: 10px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-list > .list > span.info {
    color: gray;
    font-size: 14px;
}

.questions-list > button {
    width: 180px;
    height: 45px;
    background: #131313;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 18px;
    transition: 0.1s;
    font-family: Helvetica, sans-serif;
}

.questions-list > button:hover {
    transform: scale(0.95);
    background: #1e1e1e;
}